<div class="container" >
  <div class="panel panel-default" >
    <div class="panel-heading" >
      <%= t "admin.tour_rule.edit_rule" %>
    </div>
    <div class="panel_body" >
      <%= render "admin/tour_rules/form" %>
    </div>
  </div>
</div>
