<div class="row text-center">

  <% dimensions = [:place, :news, :food] %>

  <% dimensions.each do |dimension| %>
    <div class="col-md-4">
      <%= t "view.rate_type.#{dimension}" %>
      <%= rating_for_user @tour, user, dimension,
        disable_after_rate: disable, readonly: readonly %>
    </div>
  <% end %>
</div>
