@import "bootstrap-sprockets";
@import "bootstrap";

.custom-div-text{
  word-wrap: break-word;
  text-overflow: ellipsis;
  height: 100px;
}
.all_reviews{
  border-top: solid 1px #2E2F30;
}

.one-review{
  border: solid 1px #3E3E3E;
  padding: 20px;
  margin-top: 10px;
  background: #CEF2C4;
  margin-bottom: 0;
}
.div-comment{
  border: solid 1px #3E3E3E;
  background: #f6f7f9;
  padding: 10px;
}
.user-name{
  color: blue;
  float: left;
  margin-right: 10px;
}

.sidebar{
  background-color: #e3e9ea;
  border-right: 1px solid #eee;  
}

.title{
  background-color: #fdc64b;
  line-height: 50px;
  font-weight : bold;
  color: #2E2E2E;
  display: block;
  text-align: center;
  font-size: 20px;
}

/* comment */
.div-one-comments{
  padding: 10px;
  border-bottom: 1px solid black;
  margin: 5px 0 5px 0;
}
.img-comment{
  margin: 5px 0 5px 0;
}

.replies {
  margin-left: 120px;
  border-left: 2px solid #2E2E2E;
}
.comment-content{
  color: #000;
}
.div-inline-float-right{
  float: right;
  margin-left: 5px;
  margin-right: 5px;
}

.div-inline-float-left{
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}
.div-reply{
  float: none;
}
.size_image{
  width: 80px;
  height: 80px;
}
