@import "bootstrap-sprockets";
@import "bootstrap";
img.raty-cancel {
  display: none;
}
.custom-div-text{
  word-wrap: break-word;
  text-overflow: ellipsis;
  height: 100px;
}
.all_reviews{
  border-top: solid 1px #2E2F30;
}
.one-review{
  border: solid 1px #3E3E3E;
  padding: 10px;
  margin: 10px;
  background: darkseagreen;
}
