<div class="container">
  <div class="row text-center">
    <h3><%= t "view.edit_review" %></h3>
  </div>

  <%= render "tours/form_review_rate", user: current_user, disable: true, readonly: false %>

  <div class="row col-md-6 col-md-offset-3">
    <%= render "reviews/form", btn_title: t("view.edit_review") %>
  </div>
</div>
